[Unit]
Description=Multijournal - Systemd Journal Log Streamer
After=network.target

[Service]
Type=simple
User=pdesjardins
Group=pdesjardins
WorkingDirectory=/home/pdesjardins/code/multijournal
ExecStart=/home/pdesjardins/.local/bin/uv run src/multijournal/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
